{% extends "base.html" %}

{% block title %}MEMES!!{% endblock %}

{% block body %}
    <h1>Listing of Memes</h1>
    <a href="/meme_form">Add a meme!</a>
    {% if memes == [] %}
    There are no memes. Make memes. I'm sad. i need memes. send memes.
    {%else%}
    <ul>
        {%for meme in memes%}
        <li>
            <a href="/meme/{{meme['id']}}"><img src="/meme/{{meme['id']}}.jpg" alt="{{meme['caption1']}} {{meme['caption2']}}"></a>
        </li>
        {%endfor%}
    </ul>
    {%endif%}
{% endblock %}
